<div class="box">
  <div class="test"><%=@pictures%></div>
  <div class="test"></div>
  <div class="test"></div>
  <div class="test"></div>
</div>
<div class="box">
  <div class="test"></div>
  <div class="test"></div>
  <div class="test"></div>
  <div class="test"></div>
</div>
