.header{
  background-color: black;
  height: 50px;
  width: 100%;
}

.title-block-link{
  text-decoration: none;
}

.title-block{
display: flex;
align-items: flex-end;
}

.catch22{
color: white;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 36px;
margin:5px 0px 0px 10px;
}

.alien-logo{
  margin: 0px 0px 3px;
}

.main{
  height: calc(100vh - 90px);
  background-color: rgb(36, 36, 36);
}

.footer{
  background-color: black;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.copyright{
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-size: 14px;
  margin: 0px 10px 0px 0px;
}

* {
  margin: 0;
  padding: 0;
}