.header{
  background-color:#414141;
  height: 50px;
  width: 100vw;
  display: flex;
}

.header-left-link{
  text-decoration: none;
}

.header-left{
display: flex;
align-items: flex-end;
}

.catch22-white{
color:white;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 36px;
margin:4px 0px 0px 12px;
}

.catch22-red{
  color:red;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  margin:4px 0px 0px 12px;
  }

.alien-logo{
  margin-bottom: 3px;
}

.header-right {
  display: flex;
  width: 100%;
}

.login-bar{
  width: 22%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#5c5c5c;
  padding: 3px 8px;
  border-radius: 2px;
  width: 100px;
}

.right-box:hover {
  background-color:grey;
}

.left-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5c5c5c;
  padding: 3px 8px;
  border-radius: 2px;
  width: 100px;
  margin-right: 10px;
}

.left-box:hover {
  background-color:grey;
}

.left_text, .right_text{
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.site-info-bar{
  width: 20%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.site-info{
  font-size: 13px;
  color:lightgrey;
  margin-top: 2px;
}

.search-bar{
  width: 58%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 38vw;
  height: 25px;
  display: flex;
  margin-bottom: 2.5px;
  margin-left: 10px;
}

.input-box {
  width: 100%;
  height: 25px;
}

.search-button {
  width: 50px;
  height: 29px;
  border: 0;
  background-color: #5c5c5c;
  padding: 7px 0px;
  border-radius: 1px;
}

.search-button:hover {
  background-color:grey;
}

.search-image {
  height: 17px;
  width: 17px;
}

.sub-header{
  display: flex;
}

.genre-bar{
  width: calc(100vw - 200px);
  display: flex;
}

.genre-bar-center{
  width: calc(100% - 20px);
  height: 30px;
  background-color: white;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.genre-bar-left, .genre-bar-right{
  background-color: white;
  height: 30px;
  width: 10px;
}

.genre{
  margin-top: 2px;
  color: #414141;
  font-size: 16px;
}

.genre:hover {
  color:grey;
}

.contribute-link{
  text-decoration: none;
}

.contribute-bar{
  width: 200px;
  height: 30px;
  background-color:red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.contribute-bar:hover {
  background-color:#ff5353;
}

.contribute-btn{
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.footer{
  display: flex;
}

.footer-center{
  border-top: 1px solid grey;
  height: 35px;
  width: calc(100vw - 20px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-left, .footer-right{
  height: 35px;
  width: 10px;
}

.copyright{
  color:  #414141;
  font-family:'Courier New', Courier, monospace;
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
}

body{
  background-color:white;
  overflow-x: hidden;
}

/* 入力部品 */

.contents{
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.container-registration, .container-session, .container-contribute {
  margin-top: 40px;
  margin-bottom: 50px;
  margin-right: 80px;
  width: 21vw;
  padding: 40px 20px 50px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid grey;
}

.registration, .session, .contribute{
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: #414141;
}

.take-image{
  margin-bottom: 15px;
}

.user-form-text {
  font-size: 14px;
  color: #414141;
}

.necessary {
  font-size: 12px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 2px;
}

.user_input_form{
  height: 25px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 1px;
}

.user_submit{
  height: 50px;
  width: 100%;
  background-color:red;
  border: 0;
  font-size: 17px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.user_submit:hover {
  background-color:#ff5353;
}

.login-flash{
  font-size: 1vw;
  color: #414141;
  display: flex;
  justify-content: center;
}

.pictures{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.picture{
  width: 295px;
  height: 200px;
  background-color: #cdf3ff;
  border-bottom: 1px solid grey;
  margin: 10px 0px 10px 10px;
}